<p>
  <mat-toolbar color="">
    <span>Reactive Forms Example</span>
    <span class="menu-spacer"></span>
    <button
      routerLink=""
      mat-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>home</mat-icon>
      <span> HOME</span>
    </button>
    <button
      routerLink="users"
      mat-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>manage_accounts</mat-icon>
      <span> USERS</span>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
